* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito;
  font-weight: 400;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  width: fit-content;
  height: 36px;
  font-family: Nunito, sans-serif;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;
  border: none;
  padding: 4px 12px;
  border-radius: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Halant;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
}

h2 {
  font-family: Halant;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

h3 {
  font-family: Nunito;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
}

input, 
textarea {
  font-family: 'Halant';
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  resize: none;
  outline: none;
  padding: 0;
  border: none;
  border-radius: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

label {
  text-transform: uppercase;
  font-weight: 900;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  margin: 4px 0;
}